*{
    margin:0;
    padding:0;
}
.bg{
    width:100%;
    height: 100vh;;
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(use.jpg);
    background-size: cover;
    background-position: center;
}
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
  }
  .navbar li {
    float: right;
    padding: 0 ;
    margin-top: -4.5%;
    margin-bottom: 35%;
    margin-right: 5%;
    position: relative;
  }
  .navbar li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #7b3262;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.5s;

  }
  .navbar li:hover::after{
    width: 100%;
  }
.logo{
    width: 220px;
    cursor: pointer;

}
.feature-img{
  height: 90%;
  position: absolute;
  bottom: 0
  
}
.main{
  height: 50%;
  position: absolute;
  bottom: 0
}
.but1{
  border: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: -23%;
  margin-left: 60%;
  position: absolute;
  border-radius: 12px
}
.but2{
  position: absolute;
  margin-top: -18%;
  margin-left: 60%;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px
}
.but1 {
  background-color: rgb(130, 15, 97);
  color: rgb(219, 124, 192);
  width: 250px;
  height: 50px;
  border: 2px solid rgb(219, 124, 192);
}

.but1:hover {
  background-color: rgb(128, 25, 78);
  color:rgb(255, 255, 255); 
  border: 2px solid rgb(255, 255, 255); 
}
.but2 {
  background-color: rgb(130, 15, 97);
  color: rgb(219, 124, 192);
  width: 250px;
  height: 50px;
  border: 2px solid rgb(219, 124, 192);
}

.but2:hover {
  background-color: rgb(128, 25, 78);
  color:rgb(255, 255, 255); 
  border: 2px solid rgb(255, 255, 255);
}
