*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .card{
    width: 300px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    margin-top: 70px;
    margin-right: 20px;
    margin-left:35px ;
    color: azure;
  }
  body{
    background-color: rgb(2, 2, 23);
  
  }
  .card1{
    background-image: url(pic5page2.jpg);
  }
  .card2{
    background-image: url(pic2page2.jpg);
  }
  .card3{
    background-image: url(pic3page2.jpg);
  }
  .card4{
    background-image: url( pic8page2.jpeg);
  }
  .card5{
    background-image: url(pic1page2.jpg);
  }
  .card6{
    background-image: url(pic7page2.jpeg);
  }
  .card7{
    background-image: url(pic6page2.jpg);
  }
  .card8{
    background-image: url(pic4page2.jpg);
  }
  .card:hover{
  transform: translateY(-10px);
  }
  p{
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(228, 231, 237);
  }
  .logo{
    width: 220px;
    cursor: pointer;
  }
  .logoarea{
    display: inline-block;
  }
  .card p{
    background-color: rgba(232, 44, 173, 0.414);
    color: rgb(240, 240, 245);
  }